* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/* -------------------------- HEADER ------------------------- */

.container {
  min-width: 320px;
  max-width: 640px;
  margin: 2em auto 0;
}

header {
  color: #ffffff;
  background-color: #3a69d2;
  padding: 2em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin: 0;
}

.subheading {
  margin: 0 0 0.5em 0;
}

.dark-mode-btn {
  background: #3d94f6;
  background-image: -webkit-linear-gradient(top, #3d94f6, #1e62d0);
  background-image: -moz-linear-gradient(top, #3d94f6, #1e62d0);
  background-image: -ms-linear-gradient(top, #3d94f6, #1e62d0);
  background-image: -o-linear-gradient(top, #3d94f6, #1e62d0);
  background-image: -webkit-gradient(to bottom, #3d94f6, #1e62d0);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #ffffff;
  font-size: 1rem;
  padding: 5px 8px;
  margin-top: 0.25em;
  -webkit-box-shadow: 1px 1px 20px 0 #000000;
  -moz-box-shadow: 1px 1px 20px 0 #000000;
  box-shadow: 1px 1px 20px 0 #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #337fed 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.dark-mode-btn:hover {
  border: solid #337fed 1px;
  background: #1e62d0;
  background-image: -webkit-linear-gradient(top, #1e62d0, #3d94f6);
  background-image: -moz-linear-gradient(top, #1e62d0, #3d94f6);
  background-image: -ms-linear-gradient(top, #1e62d0, #3d94f6);
  background-image: -o-linear-gradient(top, #1e62d0, #3d94f6);
  background-image: -webkit-gradient(to bottom, #1e62d0, #3d94f6);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

/* ------------------------- TASK LIST ---------------------- */

.task-list {
  background-color: #1f2937;
  color: #FFFFFF;
  padding: .5em 1em;
}

.input-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-input {
  width: 65%;
}

.dollar-amount {
  width: 25%;
}

.task-input, .dollar-amount {
  padding: 0.5em;
}

.plus-sign {
  width: 10%;
  background-color: #3770ed;
  padding: 0.5em;
  border: none;
}

.list-headings {
  display: flex;
  justify-content: space-between;
  font-size: .8rem;
}

.item-names, .item-prices {
  display: flex;
  flex-direction: column;
}