* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/* -------------------------- HEADER ------------------------- */

.container {
  min-width: 320px;
  max-width: 640px;
  margin: 2em auto 0;
}

header {
  color: #ffffff;
  background-color: #3a69d2;
  padding: 2em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin: 0;
}

.subheading {
  margin: 0 0 0.5em 0;
}

.dark-mode-btn {
  background: #3d94f6;
  background-image: -webkit-linear-gradient(top, #3d94f6, #1e62d0);
  background-image: -moz-linear-gradient(top, #3d94f6, #1e62d0);
  background-image: -ms-linear-gradient(top, #3d94f6, #1e62d0);
  background-image: -o-linear-gradient(top, #3d94f6, #1e62d0);
  background-image: -webkit-gradient(to bottom, #3d94f6, #1e62d0);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #ffffff;
  font-size: 1rem;
  padding: 5px 8px;
  margin-top: 0.25em;
  -webkit-box-shadow: 1px 1px 20px 0 #000000;
  -moz-box-shadow: 1px 1px 20px 0 #000000;
  box-shadow: 1px 1px 20px 0 #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #337fed 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.dark-mode-btn:hover {
  border: solid #337fed 1px;
  background: #1e62d0;
  background-image: -webkit-linear-gradient(top, #1e62d0, #3d94f6);
  background-image: -moz-linear-gradient(top, #1e62d0, #3d94f6);
  background-image: -ms-linear-gradient(top, #1e62d0, #3d94f6);
  background-image: -o-linear-gradient(top, #1e62d0, #3d94f6);
  background-image: -webkit-gradient(to bottom, #1e62d0, #3d94f6);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

/* ------------------------- TASK LIST ---------------------- */

.task-list {
  background-color: #1f2937;
  color: #ffffff;
  padding: 0.5em 0 0 1em;
}

.input-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-input {
  width: 65%;
}

.dollar-amount {
  width: 25%;
}

.task-input,
.dollar-amount {
  padding: 0.5em;
  margin: 0 2px 0 0;
  border: none;
}

.plus-sign {
  height: 30px;
  padding: 1em;
  border: none;
  background: url(images/plus-sign.svg) center no-repeat;
  background-size: 60%;
  max-width: 30px;
  cursor: pointer;
}

.list-wrapper {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
}

.list-headings {
  display: flex;
  justify-content: space-between;
  font-size: .6rem;
  font-weight: 400;
  padding-right: 4em;
}

.item-wrapper {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  max-height: 350px;
  overflow-y: auto;
}

.item-prices {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.remove {
  font-size: .5rem;
  letter-spacing: 0.1rem;
  margin-left: .75em;
  cursor: pointer;
}

.remove:hover {
  color: red;
}

.task-list-names {
  display: flex;
}

.task-list-names > span {
  margin-top: 1em;
}

.task-list-names > p, .task-list-amount {
  margin: 0 0 1em 0;
}

.task-list-amount{
  padding-right: 2em;
}

/* ------------------------- TOTAL SECTION ---------------------- */

.total {
  display: flex;
  flex-direction: column;
}

.total-headings {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #c3c6db;
  font-size: .8rem;
  padding-right: 1em;
}

.total-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1em;
}

.total-details > p {
  font-size: .6rem;
  margin: 0;
}

.total-details > div {
  font-weight: 700;
}

.send-btn {
    background-color: #3770ed;
    color: var(--text-color);
    padding: 0.5em 1em;
    width: 90%;
    font-size: 1.2rem;
    margin: 0.5em auto;
    border-radius: 7px;
    border: none;
    cursor: pointer;
}

.send-btn:hover {
  background-color: rgb(9, 223, 242);
  color: #212121;
}
